

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap;');

:root{
    --main-color: #00eeff;
    --text-color: #ffffff;
    --bg-color-01: #1f242d;
    --bg-color-02: #323946;


    --color-00: #0000001a;
    --color-01: #999999;
    --color-02: #009539;
    --color-03: #7950f2;
    --color-04: #c00000;
    --color-05: #232323;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 border: none;
 outline: none;
 scroll-behavior: smooth;
}



html{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}


body {
    background-color: #b1aa94;
    color: var(--text-color)
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

   
}
.logo{
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;

}

.nav-responsive{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--bg-color-01);
}


.nav a, .nav-responsive a {
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: 0,4s;

   
}

.nav a:hover, .nav-responsive a:hover{
    color: var(--bg-color-02);

}

section{
    min-height:100vh;
    padding: 6rem 6rem 2rem;

   
}

span{
    color: #f3ca11d8;
}


.home{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    
        background-image: url('/img/posada\ paraiso\ nativo.jpg');
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center  center; 
    
    
    
}



.home-img img{
    width: 130%;
    
   

}

.home-content{
    width: 45%;
    
}

.local{
    background-color: #385786c5;
}

.local-content {
    color: #232323;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.local-content iframe{
    position: relative;
    width: 80%; 
    left: 60px;
    top: 100px;
    height: 500px; 
    max-width: 800px; 
    margin: 0 auto; 
    display: block; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(8, 112, 126, 0.658); 
    border: 0px solid #2e7a61;
    background-color: #000;
 
}

.local-layer{
    
    position: relative;
    width: 100%; 
    left: 100px;
    top: -400px;
    height: 500px; 
    max-width: 0px; 
    margin: 0 auto; 
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(8, 112, 126, 0.658); 
    border: 0px solid #2e7a61;
    background-color: #000;
   
    
    
}

.local-content h1{
    font-weight: 900;
    position: relative; 
    top: 0px;         
    left: 450px;
    line-height: 6.2rem;
    font-size: 2.2rem;
    text-align: center;
 
}



.home-content h3 {
  font-weight: 700;
  line-height: 1.6rem;
 
}

.home-content p{
    margin-top: 1.2rem;
    text-align: justify;
}
.services{
    background-image: url('/img/Subauma.jpg');
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center  center; 
}

.services h2, .ambiente h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;
}


.services-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    margin: 0 auto;
    
    
}

.services-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 2rem;
    margin-left: 1rem;
    width: 50%;
}

.services span{
    color: #404c53;
}
.services-container, .services-box{
    padding: 2rem 1rem 2rem;
    border-radius: 4.2rem;
    text-align: center;
    border: solid 0.15rem var(--color-01);
    background-color: #0116162f;
    transition: 0.5s ease;
}

.services-container, .services-box:hover{
border-color: var(--bg-color-02);
transform: scale(1.01);
}

.services-box i{
    font-size: 4.3rem;
    color: #f5f5f5;
}

.services-box h3 {
    font-size: 1.5rem;
    color: #f7f7f7;
}

.services-box p {
    margin: 0.5rem;
    letter-spacing: 0.1rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
    color: #ffffff;
}

.text-container.expanded {
    -webkit-line-clamp: unset;
    line-clamp: unset;
    
}
  
.ambiente{
    background-image: url(/img/Subauma.jpg);
    
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center  center; 
    
}

.ambiente-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    grid-template-rows: auto 1fr;
    gap: 0.3rem;
    justify-items: center; 
}

.ambiente-container h2 {
    grid-column: 1 / -1; 
    grid-row: 1; 
    color: #0c2852;
    font-size: 2.2rem;
    text-align: center; 
    margin: 0; 
}

.ambiente-content {
    grid-column: 1 / -1; 
    grid-row: 2; 
}



.ambiente-box{
    position: relative;
    border-radius: 0.9rem;
    box-shadow: 0 0 0.6rem var(--bg-color-01);
    overflow: hidden;
    display: flex;
    width: 50%;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    height: 400px;
   
}

.ambiente-box img {
    width: 100%;
    transition: 0.5s ease;
    box-sizing: border-box;
}

.ambiente-box img:hover{
    transform: scale(1.1);
}

.ambiente-box .ambiente-layer{
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 20%;
 background: linear-gradient(transparent, var(--bg-color-02));
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 text-align: center;
 padding: 0 4rem;
 transform: translateY(30rem);
 transition: 0.5s ease;
}


.ambiente-box:hover .ambiente-layer{
   transform: translateY(0);

}

.ambiente-layer h4 {
    font-size: 1.8rem;

}

.ambiente-layer p{
    margin: 0.2rem 0 0.5rem;
}
.ambiente-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: var(--text-color);
    border-radius: 100%;
}

.ambiente-layer a i {
    font-size: 1.2rem;
    color: var(--bg-color-02);
}


.btn{
    display: inline-block;
    padding: 0.7rem 1.8rem;
    background-color: #b4e3f1;
    border-radius: 2rem;
    color: var(--bg-color-02);
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.3 ease;
    margin-top: 1.2rem;
}

.btn:hover {
    box-shadow: 0 0 0.3rem var(--main-color);
    background-color: inherit;
    color: var(--main-color);
}

.menu-hamburguer {
   
    cursor: pointer;
}

.bar1, .bar2, .bar3, .bar4 {
    width: 2rem;
    height: 0.3rem;
    background-color: var(--text-color);
    margin: 0.4rem 0;
    transition: 0.3s ease;
}

.change .bar1{
    transform: translate(0, 0.65rem) rotate(-45deg);
}

.change .bar2{
    opacity: 0;
 }

.change .bar3{
    transform: translate(0, -0.65rem) rotate(45deg);
}

.social-media a  {
 display: inline-flex;
 justify-content: center;
 align-items: center;
 width: 2.5rem;
 height: 2.5rem;
 background: transparent;
 border: solid 0.15rem #ffffff;
border-radius: 50%;
font-size: 2rem;
color: #f9fcff;
margin: 1.8rem 0.5rem;
transition: 0.5 ease;
}

.social-media a:hover {
   background-color: var(--main-color);
   color: var(--bg-color-02);
   box-shadow: 0 0 0.3rem; 
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: solid 0.15rem var(--main-color);
   border-radius: 50%;
   font-size: 2rem;
   color: var(--main-color);
   margin: 1.8rem 55rem;
   transition: 0.5 ease;
}
.social span{
    color: var(--color-01);
}

@media  (min-width:0px){
    .menu-hamburguer{
        display: block;
    }


    .nav {
        display: none;
    }


    .nav-responsive a {
        display: block;
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }


    section{
        padding: 6rem 2.5rem;
    }


    .home {
        flex-direction:column;
        gap: 1.2rem;
    }


    .home-img {
        width: 80%;
        max-width: 80%;
    }

    .home-content{
        width: 100%;
    }

    .home-content div {
        text-align: center;
    }


    .home-content h1{
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3;
    }

    .services-container {
        flex-direction: column;
        align-items: center;
    }


    .services-box{
        width: 100%;
    }


    
}
/*    CELULAR       */

@media  (min-width: 576px) {

    .home-img{
        width: 65%;
        max-width: 65%;
    }

    .services-box{
        width: 80%;
    }
   
}


/*    TABLET      */
@media  (min-width: 768px) {
 
.menu-hamburguer{
    display: none;
}

.nav{
    display: block;
}
    .nav-responsive, .nav-responsive a{
        display: none;

    }

    .home {
        flex-direction:row;
        justify-content: space-evenly;
    }


    .home-img {
        max-width: 35;
    }

    .home-content{
        width: 50%;
    }

    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .services-box {
        width: 60%;
        margin-bottom: 2rem;
    }

    .ambiente-container {
        grid-template-columns:  auto auto;
    }
}

/*    NOTBOOK    */
@media (min-width: 992px) {

    .nav{
        display: block;
    }

    .home-img {
        max-width: 35%;
    }

    .services-container{
        flex-direction: row;
        gap: 1.2rem;
    }

  
    
}

/*    desktop    */
@media  (min-width: 1200px) {

    .home-img {
        max-width: 25%;
    }
.home-content h3{
  font-size: 2.7rem;
}

.home-content h3{
    font-size: 2rem;
}

.ambiente-container {
    grid-template-columns:  auto auto auto;
}
    
}